<h1 class="display-3">{{title}}</h1>

<div class="container">
<form >
numero1: <input type="number" [(ngModel)]="numero1" name="numero1" class="p-1 mb-1 bg-secondary text-white"><br><br>

numero2: <input type="number" [(ngModel)]="numero2" name="numero2" class="p-1 mb-1 bg-secondary text-white"><br><br>

<input type="submit" value="sumar" (click)="sumar()" class="btn btn-primary">
<input type="submit" value="restar" (click)="restar()" class="btn btn-danger">
<input type="submit" value="multiplicar" (click)="multiplicar()" class="btn btn-success">
<input type="submit" value="dividir" (click)="dividir()" class="btn btn-warning">

</form>
</div>
<br><br>
<div class="container">
<h4 >Resultado: {{resultado}} </h4>
</div>